/****THIS IS THE GLOBAL STYLESHEET****/

/*----- WHITESPACE RESET & DEFAULT CLASSES ----*/

html, body { margin: 0; padding: 0; }
body { background: #fff; color: #000; font: 62.5% Arial, Helvetica, sans-serif; }

/* Baseline values for browser consistency */
p, div, h1, h2, h3, h4, h5, ul, li, ol, img, fieldset { margin: 0; padding: 0; }
img { border: 0; }
	
/* force scroll bar in FF for centred sites */
html { height: 100%; margin-bottom: 1px; }

/* Element Default Classes */
ul, ol { list-style-position: inside; margin: 0 0 1em; }
ul li, ol li { font-size: 1.2em; margin: 0 0 0.2em; }
hr { background: #000; color: #000; border: 0; height: 1px; margin: 20px 0; }
a:link, a:visited, a:active { color: blue; text-decoration: underline; outline: 0; }
a:hover { text-decoration: none; }

/* Global classes */
.clear { clear: both; height: 0px; }
.left { float: left; }
.right { float: right; }


/*----- STRUCTURE -----*/

#container { }


/*----- NAVIGATION -----*/

ul.level1 { 
	list-style: none; list-style-position: outside; }


/*----- TYPOGRAPHY -----*/

p { 
	font-size: 1.2em; 
	margin: 0 0 1em; }

h1 { 
	font-size: 2em; 
	margin: 0 0 1em; }

h2 { 
	font-size: 1.8em; 
	margin: 0 0 1em; }

h3 { 
	font-size: 1.6em; 
	margin: 0 0 1em; }

h4 { 
	font-size: 1.4em; font-weight: bold;
	margin: 0 0 1em; }

h5 { 
	font-size: 1.3em; font-weight: bold;
	margin: 0 0 1em; }

h6 { 
	font-size: 1.2em; font-weight: bold;
	margin: 0 0 1em; }


/*----- FORM ELEMENTS -----*/

form { 
	background: #eee; 
	padding: 10px; }

form label {
	 cursor: pointer;
	 font-size: 1.2em;
	 display: block; 
	 float: left;
	 width: 150px; }
 	
	form span { font-size: 1.2em; }
 		
form fieldset {
	border: none; clear: left; }
		
input, select, textarea {
 	font: 1.2em Arial, Helvetica, sans-serif;
	margin: 0 0 2px;
 	width: 150px; }
 
 	input.checkbox, input.radio { width: auto; margin-top: 5px; }

button { margin: 0 0 0 10px; }